body *{
    margin:0px;
}
nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding: 10px ;
    height: auto;
    font-size:12px;
    
  }
  

  nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    
  }
  nav div{
      display:inline;
  }
  nav ul{
    display:inline;
}
  .top-links {
      float: right;
    vertical-align:middle;
    display:inline-block;
  padding: 0;
  margin: 0 20px 0 0;
  
  }
  
  .top-links li {
    display: inline-block;
    margin: 0 10px ;
    vertical-align:baseline;
  }

header{
    background-image:url(images/city-scape.svg);
    padding-bottom: 70px;
    
}


.top-left{
    margin: 10px;
}
.heading {
    width: 60%;
    margin:0  auto;
    font: white;
}
.heading *{
    color:white;
    margin:10px;
}
.heading input{
    background-color:rgb(240, 146, 51);
    border-radius: 15px;
    border:0px;
    padding: 5px 20px;
}
.heading p{
    font-size: 12px;
}

.heading img{
    
    float: right;
}

.search{
    width: 100%;
    height: 50px;
    margin:0 auto;
    padding:10px;
}
.search *{
    display:inline;

}
.searchImg1{
    width: 100px;
    margin-right:20px;
}


.bar *{
    height: 32px;
    color:white;
    font-size:12px;
    
}
.bar input{
    margin:0px;
    border:0px;
    color:rgb(63, 61, 61);
    width: 70%;
    background-color: rgb(31, 82, 111);
}
.bar button i{
    color:white;
}
.bar button{
    color:white;
width:40px;
height: 35px;

    border:0px;
    border-left: 100px;
    border-color:white;
    background-color: rgb(31, 82, 111);
}

.section1{
    margin:0px;
    padding: 50px;
    color:white;
    background-color: rgb(39, 53, 71);
}
.section1 div{
    width:70%;
    margin:0 auto;
    clear: both;
}
.section1 div img{
    margin:25px;
    width: 50%;
    height: auto;
    float: left;
}
.section1 div input{
    background-color: rgb(203, 56, 55);
    border-radius: 15px;
    border:0px;
    padding: 5px 20px;
    color:white;
}
.section1 div ul{
    font-size:12px;
}
.section1 div ul li{
    margin:10px;

}
.section1 div{
    margin-bottom: 15px;
}
.section2{
    height: 500px;
    color:white;
    margin:0px;
    background-image: url(images/forklift.svg);
    background-size: cover;
    padding-left: 15%;
    padding-top: 8%;
}
.section2 input{
    background-color: rgb(49, 68, 88);
    border-radius: 15px;
    border:0px;
    padding: 5px 20px;
    color:white;
}
.section2 *{
    margin:10px;
}
.section2 p{
width:38%;
}

.section3{
    padding-bottom:100px;
}

.div1{
    width:65%;
    margin:0 auto;
    margin-top:40px;
    margin-bottom: 40px;
    
}


.div1 span{
   
    margin-left: 100px;
}
.div1  h2{
    font-size:35px;
    color:rgb(83, 88, 98);
}
.div1 span{
    color:rgb(135, 145, 156);
}
.div2{
    width:70%;
    margin:30px auto;
}

.opcion{
    display:inline-block;
    width: 30%;
    margin:10px;
    vertical-align: top;
}

.opcion a{
    color:rgb(208, 74, 73);
}

.titulo{
   width: 50%;
   margin:20px auto;
   

}
.cuerpo{
    width: 75%;
   margin:0 auto;
   color:rgb(135, 145, 156);
}
.imagenOpcion{
    width: 50%;
   margin:0 auto;
}

